
/* VARIABLES */
:root{
    --color-fondo: #171819;
    --color-uno: rgb(74, 169, 113);
    --color-letra: #d6cdcd;
    --color-letra-dos: #525354;
}

/*  GENERALES */
*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
h1, h2, h3, h4, h5, h6, p{
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

p{
    color: var(--color-letra-dos);
    line-height: 25px;
}

li{
    list-style: none;
}

.secciones{
    min-height: 110%;
    padding-top: 10px;
}

.subti{
    font-size: 3em;
    color: var(--color-letra);
    margin-bottom: 10px;
}

.bajo-subti{
    font-size: 0.8em;
    color: var(--color-uno);
    margin-bottom: 20px;
    letter-spacing: 2px;
}

.span-barra{
    font-size: 1em;
    letter-spacing: 4px;
    color: var(--color-letra-dos);
}

/*  CONTENEDORES PRINCIPALES */

body{
    background: black;
}

#container{
    width: 80%;
    height: 400px;
    border-radius: 10px;
    background-color: var(--color-fondo);
    margin: 5.3% auto;
    display: flex;
}

/*  NAVEGADOR LATERAL */

#nav-lateral{
    width: 8%;
    display: flex;
}
#nav-lateral ul{
    width: 80%;
    flex-wrap: wrap;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: space-around;
    text-align: center;
}

#nav-lateral a{
    padding: 16px 20px;
    font-size: 20px;
    font-weight: normal;
    color: var(--color-uno);
}

#nav-lateral ul li a i{
    font-size: 35px;
}

#nav-lateral li:hover a{
    color: var(--color-fondo);
    background-color: var(--color-uno);
    border-radius: 10px;
}

/* IMAGEN NOMBRE */

#foto-nombre{
    width: 45%;
    height: 500px;
    bottom: 50px;
    background-image: url(../assets/img/fotoCV.png);
    text-align: center;
    padding: 5px;
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
    border-radius: 30px;
}
#foto-nombre::before{
    content: "";
    position: absolute;
    background-color: rgba(22, 22, 22, 0.6);
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    border-radius: 30px;
}

#foto-nombre h1{
    font-size: 3em;
    text-align: center;
    line-height: 55px;
    color: var(--color-letra);
    position: relative;
    top: 350px;
}
#foto-nombre h2{
    font-size: 1.5em;
    color: var(--color-uno);
    position: relative;
    top: 350px;
}
/* cuando se haga mas chico */
#tit-chico{
    display: none;
    margin-bottom: 10px;
}
#tit-chico h1{
    font-size: 4em;
    padding-top: 25px;
    text-align: center;
    line-height: 55px;
    color: var(--color-letra);
}
#tit-chico h2{
    text-align: center;
    font-size: 1.5em;
    color: var(--color-uno);
}
/* CONTENEDOR INFO */
#comunicacion{
    display: flex;
    flex-direction: row-reverse;
}

#comunicacion a i{
    font-size: 50px;
    display: block;
    color: #ffffff;
    margin-top: 50px;
    padding: 20px;
}

#cont-info{
    width: 90%;
    padding: 20px;
    overflow-y: scroll;
}
/*  educacion */

#educacion h4{
    color: var(--color-letra);
    font-size: 1.4em;
    margin-bottom: 3px;
}
#educacion h3{
    margin-bottom: 3px;
}
#educacion .curso{
    padding: 8px;
    border-bottom: 1px solid rgb(80, 76, 76);
}

/* SKILLS */

#skills div ul li{
    margin-top: 10px;
    font-family: sans-serif ;
    font-size: 20px;
    color: #fff;
    padding: 5px 40px;
}
/* TRABAJOS */

.tarjeta-trabajos{
    display: flex;
    border: 1px solid var(--color-letra-dos);
    margin-top: 30px;
    padding: 5px;
}
.tarjeta-trabajos img{
    width: 130px;
    height: 85px;
    margin: 10px;
    opacity: 0.5;
}
.tarjeta-trabajos .info h2{
    color: var(--color-letra);
    text-align: left;
}
.tarjeta-trabajos .info p{
    margin: 5px 0;
}

.tarjeta-trabajos .info a{
    color: var(--color-letra);
}


/* CONTACTAME */

#contactame input, textarea{
    width: 100%;
    margin: 5px auto 25px;
    padding-bottom: 10px;
    color: var(--color-letra-dos);
    background: var(--color-fondo);
    border: none;
    border-bottom: 1px solid var(--color-letra-dos);
    font-family: var(--letra-uno);
    font-size: 1.5em;
}
#contactame textarea{
    resize: none;
    height: 90px;
}
#contactame textarea:focus{
    border-bottom: 2px solid var(--color-uno);
}
#contactame input:focus{
    border-bottom: 2px solid var(--color-uno);
}
#contactame form input[type="submit"]{
    display: block;
    width: 30%;
    height: 50px;
    line-height: 50px;
    margin-left: auto;
    margin-right: auto;
    border: none;
    background-color: var(--color-uno);
    color: var(--color-fondo);
}
#contactame form input[type="submit"]:hover{
    background-color: var(--color-fondo);
    color: var(--color-uno);
    border: 1px solid var(--color-uno);
}

@media (max-width: 930px){
    #container{
        margin-top: 5px;
    }
    #foto-nombre{
        display: none;
    }
    #tit-chico{
        display: inline-block;
        width: 100%;
    }
    .secciones{
        padding: 15px;
    }
    .subti{
        text-align: center;
    }
    #contactame{
        margin-bottom: 0px;
    }
    #contactame input, textarea{
        font-size: 1em;
    }
    #contactame textarea{
        height: 80px;
    }
}
@media (max-width: 795px){
    #nav-lateral{
        width: 13%;
    }
    #nav-lateral a{
        padding: 15px;
        text-align: center;
    }
}

@media (max-width: 550px){
    .subti{
        width: 100%;
        font-size: 2em;
        border: 1px solid #ccc;
    }
    .curso h4{
        font-size: 1em;
    }
    #container{
        height: auto;
        display: block;
        overflow: scroll;
    }
    #nav-lateral ul{
        display: none;
    }
    #cont-info{
        width: 100%;
    }
    .secciones{
        text-align: center;
    }

}
@media (max-width: 430px){
    #tit-chico h1{
        font-size: 3em;
    }
    .subti{
        font-size: 2em;
    }
    #educacion h4{
        font-size: 1em;
    }

    #contactame form input[type="submit"]{
        width: 25%;
        height: 35px;
        line-height: 35px;
    }
}
@media (max-width: 385px){
    .subti{
        font-size: 1.5em;
    }
}
